.vote
  height 100vh
  width 100%

.question
  padding 40px 20px
  font-size 2.5em
  h1
    margin-left 2em

.voting-area
  position absolute
  bottom 0
  display flex
  flex-direction row
  align-items flex-end
  justify-content space-between
  margin 20px 20px 0 20px

.candidate
  height auto
  max-width 100%
