.vote
  height 100vh
  width 100%

.question
  padding 40px 20px
  font-size 2.5em
  h1
    margin-left 2em

.voting-area
  position absolute
  bottom 0
  display flex
  flex-direction row
  align-items flex-end
  justify-content space-between
  margin 20px 20px 0 20px

.candidate
  height auto
  max-width 100%

.wiggle
  animation-name wiggle
  animation-duration 2s

@keyframes wiggle
  0%
    transform rotate(10deg)
  10%
    transform rotate(-10deg)
  20%
    transform rotate(10deg)
  30%
    transform rotate(-10deg)
  40%
    transform rotate(10deg)
  50%
    transform rotate(-10deg)
  60%
    transform rotate(10deg)
  70%
    transform rotate(-10deg)
  80%
    transform rotate(10deg)
  90%
    transform rotate(-10deg)
  100%
    transform rotate(10deg)
