.vote
  height 100%
  width 100%

.question
  position fixed
  top 0
  height auto
  width 100%
  margin 25px 20px
  font-size 2.5em
  padding 0
  letter-spacing -2px
  h1
    margin-left 2em

.tighten
  position relative
  top -20px

.heart
  position fixed
  bottom 20px
  right 140px

.voting-area
  position fixed
  bottom -80px
  display flex
  flex-direction row
  align-items flex-end
  justify-content space-between
  margin 20px 0 0 10px

.candidate
  height auto
  max-width 100%

.wiggle
  animation-name wiggle
  animation-duration 2s

@keyframes wiggle
  0%
    transform rotate(10deg)
  10%
    transform rotate(-10deg)
  20%
    transform rotate(10deg)
  30%
    transform rotate(-10deg)
  40%
    transform rotate(10deg)
  50%
    transform rotate(-10deg)
  60%
    transform rotate(10deg)
  70%
    transform rotate(-10deg)
  80%
    transform rotate(10deg)
  90%
    transform rotate(-10deg)
  100%
    transform rotate(10deg)
