*
  margin 0 0
  padding 0 0

html
  height 100%
  width 100%

body
  height 100%
  width 100%
  font-family 'Ubuntu', sans-serif
  color #fff
  background linear-gradient(to bottom right, #41b4b9 , #1e6f76)
